@media screen and (min-width: 1024px) {
    .bread {
        z-index: -1;
        position: absolute;
        left: 10px;
        top: calc(100vh + 200px)
    }
}

@media screen and (max-width: 1024px) {
    .bread {
        z-index: -1;
        position: absolute;
        left: 10px;
        top: calc(100vh + 200px)
    }
}

@media screen and (max-width: 768px) {
    .bread {
        left: 10px;
        top: calc(100vh + 50px)
    }
}

@media screen and (max-width: 500px) {
    .bread {
        display: none;
    }
}

