@media screen and (min-width: 1024px) {
    .croissant {
        z-index: -1;
        position: absolute;
        right: 20px;
        top: calc(100vh + 550px)
    }
}

@media screen and (max-width: 1024px) {
    .croissant {
        z-index: -1;
        position: absolute;
        right: 20px;
        top: calc(100vh + 550px)
    }
}

@media screen and (max-width: 500px) {
    .croissant {
        right: 0px;
        top: calc(100vh + 774px)
    }
}

@media screen and (max-width: 320px) {
    .croissant {
        top: calc(100vh + 654px)
    }
}