@font-face {
	font-family: Montserrat;
	src: url("./../../app/fonts/MontserratAlternates-Medium.woff2");
}

@font-face {
	font-family: Montserrat Bold;
	src: url("./../../app/fonts/MontserratAlternates-Bold.woff2");
}

@font-face {
	font-family: Montserrat semibold;
	src: url("./../../app/fonts/MontserratAlternates-SemiBold.woff2");
}

@font-face {
	font-family: Montserrat regular;
	src: url("./../../app/fonts/MontserratAlternates-Regular.woff2");
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
}

.front {
	height: 100%; aspect-ratio: 1/1;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	visibility: visible;
}

.photo {
	height: 70%; aspect-ratio: 1/1;
	align-self: center;
	border-radius: 20px;
	margin-bottom: 10px;
	perspective: 1000px;
	cursor: pointer;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.photo:hover {
	transform: rotateY(180deg);
}


.photo img {
	width: 100%; height: 100%;
	border-radius: 20px;
	margin-bottom: 10px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	cursor: pointer;
	transition: transform .5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	visibility: visible;
}

.desc {
	width: 100%; height: 100%;
	top: 0; left: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 14px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	background-color: rgba(223, 228, 240, 0.4);
	border-radius: 20px;
}

.descInner {
	width: 95%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}

.kpfc {
	padding: 12px 5px;
    font-family: Montserrat semibold;
    font-size: 14px;
    border-radius: 20px;
	white-space: pre-line;
}

.description {
	text-align: justify;
	padding: 12px 5px;
	max-width: 100%;
    font-family: Montserrat;
}



.name {
	max-width: 280px;
	font-family: Montserrat semibold;
    font-size: 22px;
	padding-left: 3px;
	margin-bottom: 10px;
}

.g {
	font-family: Montserrat regular;
    font-size: 20px;
	padding-left: 3px;
	margin-bottom: 3px;
}

.price {
	font-family: Montserrat regular;
    font-size: 20px;
	padding-left: 3px;
}

@media screen and (width >= 1024px) {
	.item {
		height: 500px;
	}
	.description {
		font-size: 16px;
	}
}

@media screen and (width < 1024px) {
	.item {
		height: 500px;
	}
	.description {
		font-size: 16px;
	}
}


@media screen and (width <= 425px) {
	.item {
		height: 400px;
	}
	.description {
        font-size: 14px;
    }
}

