.item {
	position: relative;
	display: flex;
	flex-direction: column;
	aspect-ratio: 7/10;
}

$border-radius: 20px;
$highlight-color: #000000;
$transformation: translate(var(--x), -30px);
$shadow: var(--x-shadow) 15px 10px 0px rgba(0, 0, 0, 0.3);

.container {
	height: 70%; aspect-ratio: 1/1;
	position: relative;
	display: block;
	transition: all .4s ease-in-out;
	border-radius: $border-radius;


	&:active {
		.desc {
            display: flex;
			opacity: 1;
        }
		.photo {
			display: none;
        }
		transform: $transformation;
		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow;
		box-shadow: $shadow;
	}

	@media (hover: hover) {
		&:hover {
			.desc {
				display: flex;
				opacity: 1;
			}
		
			.photo {
				display: none;
			}
		
			transform: $transformation;
			-webkit-box-shadow: $shadow;
			-moz-box-shadow: $shadow;
			box-shadow: $shadow;
		}
	}
}

.border {
	z-index: -1;
	position: absolute;
	height: calc(70% - 2px * 2 * 3);
	aspect-ratio: 1/1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: $border-radius;
	border: 2px $highlight-color dashed;
}

.photo {
	height: 100%; aspect-ratio: 1/1;
	position: relative;
	border-radius: $border-radius;

	img {
		border-radius: 18px;
	}
}

.desc {
	opacity: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
	justify-self: center;
	width: calc(100% - 2px * 2);
	height: 100%;
	border-radius: $border-radius;
	border: $highlight-color 2px solid;
	font-family: var(--montserrat);
	background-color: #DFE4F0;
	user-select: none;

	p {
		font-weight: 500;
		padding: 12px 12px;
	}
	
	.kpfc {
		text-align: center;
		font-weight: 600;
		white-space: pre-line
	}
}




////////////////////////////////////////////////////
.info {
	display: flex;
	flex-direction: column;
	gap: 3px;
	font-family: var(--montserrat);
	padding-left: 3px;
	padding-top: 10px;

	h2 {
		font-weight: 600;
	}
	
    p {
        font-weight: 400;
    }
}




@media screen and (width >= 1024px) {
	.item {
		height: 500px;
		--x: -30px;
		--x-shadow: 10px;
	}
	.desc {
		p {
			font-size: 18px;
		}
	}
}

@media screen and (width < 1024px) {
	.item {
		height: 500px;
		--x: -30px;
		--x-shadow: 10px;
	}
	.desc {
		p {
			font-size: 18px;
		}
	}
}


@media screen and (width <= 500px) {
	.item {
		height: 400px;
		--x: 0px;
		--x-shadow: 0px;
	}
	.desc {
		p {
			font-size: 14px;
		}
	}
}

