.container {
	--blue: #08173F;
	--yellow: #EAA73E;
}
@font-face {
	font-family: Montserrat bold;
	src: url('./../../../app/fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
	font-family: Montserrat;
	src: url('./../../../app/fonts/MontserratAlternates-Medium.ttf');
}



.mainTitle {
	width: 100vw; height: 70px;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	font-family: Montserrat;
	color: #fff;
	margin-bottom: 40px;
}

.container{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.logoContainer {
	width: 180px; aspect-ratio: 7/4;
	background-image: url('./../../../../public/logo.png');
	background-size: cover;
	background-position: center;
	margin-bottom: 40px;
}

.donut {
	background-color: var(--yellow);
	width: fit-content; height: 100px;
	display: flex;
	align-items: center;
	color: #fff;
	font-family: Montserrat bold; 
	text-transform: uppercase;
	padding: 0px 30px;
	border-radius: 50px;
}

.coffee {
	background-image: url('./../../../../public/coffee.png');
	background-size: cover;
	margin-bottom: 40px;
}

.dl {
	display: flex;
	align-items: center;
	position: absolute;
	top: 90%;
	right: 0;
}

.dot {
	width: 20px;
	aspect-ratio: 1/1;
	background-color: var(--yellow);
	border-radius: 50px;
}

.line {
	width: 70vw; height: 4px;
	background-color: var(--yellow);
}

@media screen and (width >= 1024px) {
	.mainTitle {
		font-size: 25px;
	}
	.donut {
		font-size: 35px;
	}
	.coffee {
		width: 350px; 
		height: 250px; 
	}
}

@media screen and (width < 1024px) {
	.mainTitle {
		font-size: 25px;
	}
	.donut {
		font-size: 35px;
	}
	.coffee {
		width: 350px; 
		height: 250px; 
	}
}

@media screen and (width < 768px) {
	.mainTitle {
		font-size: 15px;
	}
	.donut {
		font-size: 20px;
	}
}

@media screen and (width < 425px) {

}

@media screen and (width < 375px) {
	.coffee {
		width: 300px; 
		height: 215px; 
	}
}
