@font-face {
	font-family: Montserrat Alternates;
	src: url("./../../app/fonts/MontserratAlternates-Medium.woff2");
}

@font-face {
	font-family: Montserrat Alternates Bold;
	src: url("./../../app/fonts/MontserratAlternates-Bold.woff2");
}



.container {
	height: 100vh;
	background-size: cover;
	filter: contrast(1.1);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.titles {
	display: flex;
	flex-direction: column;
	margin-bottom: 10vh;
	padding-top: 2vw;
}

.title {
	font-family: Montserrat Alternates Bold;
    color: #ffffff;
}
.subtitle {
	font-family: Montserrat Alternates;
    color: #FFD014;
}


.button1,
.button2,
.button3 {
	width: 140px;
	background-color: #000;
    border-radius: 50px;
    font-family: Montserrat Alternates Bold;
    font-size: 14px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;	
    cursor: pointer;
	transition: all .3s;
}

.button1 {
	border: 4px #FFD014 solid;
}

.button2 {
    border: 4px #ffffff solid;
}

.button3 {
    border: 4px #266665 solid;
}


.button1:hover {
	border: 4px #FFD014 solid;
    background-color: #FFD014;
    color: #000;
}
.button2:hover {
	border: 4px #fff solid;
    background-color: #fff;
    color: #000;
}

.button3:hover {
	border: 4px #266665 solid;
    background-color: #266665;
    color: #000;
}
@media screen and (min-width: 1024px) {
	.container {
		background-position: 0 -320px;
		background-image: url("./../../../public/welcome_background.jpg");
		background-repeat: no-repeat;
		
	}
	.titles {
        padding-left: 8vw;
		width: 430px;
    }
	.title {
		font-size: 55px;
	}
	.subtitle {
		font-size: 54px;
	}
	.buttonContainer  {
		padding-left: 8vw;
		width: 80vw;
		display: flex;
		gap: 35px;
	}
	.button1,
	.button2,
	.button3 {
		width: 140px;
		font-size: 14px;
		color: #ffffff;
		padding: 15px 32px;
	}

}

@media screen and (max-width: 1024px) {
	.container {
		background-image: url("./../../../public/welcome_background.jpg");
	}
	.titles {
		width: 45vw;
		padding-left: 10vw;
    }
	.title {
		font-size: 55px;
	}
	.subtitle {
		font-size: 54px;
	}
	.buttonContainer  {
		width: 80vw;
		display: flex;
		gap: 3vw;
		padding-left: 10vw;
	}
	.button1,
	.button2,
	.button3 {
		width: 140px;
		font-size: 14px;
		color: #ffffff;
		padding: 15px 32px;
	}

}

@media screen and (max-width: 768px) {
	.titles {
		width: 50vw;
    }
	.title {
		font-size: 45px;
	}
	.subtitle {
		font-size: 44px;
	}
	.buttonContainer  {
		width: 80vw;
		display: flex;
		gap: 3vw;
		flex-wrap: wrap;
	}
	.button1,
	.button2,
	.button3 {
		width: 80px;
		font-size: 12px;
		color: #ffffff;
		padding: 10px 32px;
	}
}

@media screen and (max-width: 425px) {
	.container {
		width: 100vw;
		background-image: url("./../../../public/welcome2_background.jpg");
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.titles {
		width: 80vw;
		padding-left: 0;
    }
	.title {
		width: 100%;
		font-size: 38px;
	}
	.subtitle {
		font-size: 34px;
	}
	.buttonContainer  {
		width: 320px;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-left: 0;
	}
	.button1,
	.button2,
	.button3 {
		width: 80px;
		font-size: 12px;
		color: #ffffff;
		padding: 12px 32px;
	}
}

@media screen and (max-width: 375px) {
	.titles {
		width: 80vw;
		/* padding-top: 18vw; */
    }
	.title {
		font-size: 38px;
	}
	.subtitle {
		font-size: 34px;
	}
	.buttonContainer  {
		width: 320px;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.button1,
	.button2,
	.button3 {
		width: 80px;
		font-size: 12px;
		color: #ffffff;
		padding: 12px 32px;
	}

}

@media screen and (max-width: 320px) {
	.titles {
		width: 90vw;
		/* padding-top: 18vw; */
    }
	.title {
		font-size: 34px;
	}
	.subtitle {
		font-size: 30px;
	}
	.buttonContainer  {
		width: 90vw;
		display: flex;
		gap: 3vw;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.button1,
	.button2,
	.button3 {
		width: 65px;
		font-size: 10px;
		color: #ffffff;
		padding: 12px 32px;
	}
}