.container {
	display: flex;
}

.bar {
	font-size: 14px;
}

.photo {
	position: relative;
	height: 100%;
	width: 60.42%;
	border-radius: 20px;
	background-color: black;
	margin-right: 17px;
}

.info {
	width: calc(39.58% - 17px);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.nickname {
	height: 100%; width: 100%;
	font-weight: 300;
    font-size: 12px;
    color: #7a7a7a;
}

.name {
	font-weight: 600;
    color: #fff;
	margin-bottom: 14px;
}

.link {
	width: max-content; height: 40px;
	display: flex; align-items: center; gap: 10px;
	background-color: #fff;
	color: black;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	padding-left: 10px;
	border-radius: 40px;
}

.link::after {
	content: "Instagram";
}

@media screen and (width >= 1024px) {
	.container {
		height: 480px; aspect-ratio: 1/1;
	}
	.link {
		padding-right: 10px;
	}
	.name {
		font-size: 20px;
	}
}

@media screen and (width < 1024px) {
	.link {
		padding-right: 10px;
	}
	.container {
		height: 480px; aspect-ratio: 1/1;
	}
	.name {
		font-size: 20px;
	}
}

@media screen and (width <= 500px) {
	.container {
		height: 240px; aspect-ratio: 1/1;
	}
	.link {
		padding-right: 0px;
	}
	.link::after{
		content: "";
	}
	.name {
		font-size: 14px;
	}
}