@font-face {
	font-family: Montserrat Alternates;
	src: url("./../../app/fonts/MontserratAlternates-Medium.woff2");
}

@font-face {
	font-family: Montserrat Alternates Bold;
	src: url("./../../app/fonts/MontserratAlternates-Bold.woff2");
}

@font-face {
	font-family: Montserrat Alternates ExtraLight;
	src: url("./../../app/fonts/MontserratAlternates-ExtraLight.woff2");
}

@font-face {
	font-family: Montserrat Alternates Light;
	src: url("./../../app/fonts/MontserratAlternates-Light.woff2");
}

@font-face {
	font-family: Montserrat Alternates Regular;
	src: url("./../../app/fonts/MontserratAlternates-Regular.woff2");
}

@font-face {
	font-family: Montserrat Alternates Thin;
	src: url("./../../app/fonts/MontserratAlternates-Thin.woff2");
}


.container{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10vh;
}

.title {
	font-family: Montserrat Alternates ExtraLight;
	text-align: center;
}

.paragraph {
	font-family: Montserrat Alternates Regular;
}


@media screen and (min-width: 1024px) {
	.text {
		width: 750px;
	}

	.title {
        font-size: 55px;
		padding-top: 100px;
		margin-bottom: 72px;
    }
	.paragraph {
		font-size: 20px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		z-index: -1;
		position: absolute;
		left: 10px;
		top: calc(100vh + 200px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 20px;
		top: calc(100vh + 550px)
	}
}

@media screen and (max-width: 1024px) {
	.text {
		width: 750px;
	}

	.title {
        font-size: 55px;
		padding-top: 100px;
		margin-bottom: 72px;
    }
	.paragraph {
		font-size: 20px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		z-index: -1;
		position: absolute;
		left: 10px;
		top: calc(100vh + 200px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 20px;
		top: calc(100vh + 550px)
	}
}

@media screen and (max-width: 768px) {
	.text {
		width: 550px;
	}

	.title {
        font-size: 55px;
		padding-top: 100px;
		margin-bottom: 72px;
    }
	.paragraph {
		font-size: 20px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		z-index: -1;
		position: absolute;
		left: 10px;
		top: calc(100vh + 50px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 20px;
		top: calc(100vh + 550px)
	}
}

@media screen and (max-width: 500px) {
	.text {
		width: 340px;
	}

	.title {
        font-size: 34px;
		padding-top: 50px;
		margin-bottom: 36px;
    }
	.paragraph {
		font-size: 24px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		display: none;
		z-index: -1;
		position: absolute;
		left: -4px;
		top: calc(100vh + 61px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 0px;
		top: calc(100vh + 774px)
	}
}

@media screen and (max-width: 375px) {
	.text {
		width: 340px;
	}

	.title {
        font-size: 34px;
		padding-top: 50px;
		margin-bottom: 36px;
    }
	.paragraph {
		font-size: 24px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		display: none;
		z-index: -1;
		position: absolute;
		left: -4px;
		top: calc(100vh + 61px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 0px;
		top: calc(100vh + 774px)
	}
}

@media screen and (max-width: 320px) {
	.text {
		width: 300px;
	}

	.title {
        font-size: 32px;
		padding-top: 50px;
		margin-bottom: 36px;
    }
	.paragraph {
		font-size: 20px;
		line-height: 1.55;
		margin-bottom: 30px;
	}

	.bread {
		display: none;
		z-index: -1;
		position: absolute;
		left: -4px;
		top: calc(100vh + 61px)
	}

	.croissant {
		z-index: -1;
		position: absolute;
		right: 0px;
		top: calc(100vh + 654px)
	}
}