* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body{
	background-image: url('./../../public/white_background.jpg');
	overflow-x: hidden;
}
@font-face {
	font-family: Montserrat Alternates;
	src: url("/src/app/fonts/MontserratAlternates-Medium.ttf");
}