.container {
    width: 100vw; min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 16px;
    margin-bottom: 16px;
    h2 {
        color: #EAA73E;
        font-size: 38px;
        text-align: center;
        margin-bottom: 13px;
        font-weight: 900;
    }
    li {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        position: relative;
        line-height: 38px;
    }
}

@media (max-width: 768px) {
    .text {
        width: 80%;

        h2 {
            font-size: 30px;
        }

        li {
            font-size: 18px;
            line-height: 32px;
        }
    }
}

@media (max-width: 500px) {
    .container {
            padding-top: 20px;
    }
    .text {
        width: 85%;

        h2 {
            font-size: 26px;
        }

        li {
            font-size: 14px;
            line-height: 28px;
        }
    }
}