.container {
	min-height: 100vh;
	background-color: #fff;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
}

.title {
	color: #000;
	font-family: var(--montserrat);
	font-weight: 700;
    font-size: 38px;
	margin-bottom: 40px;
	padding-top: 60px;
	text-align: center;
	max-width: 90%;
}


.companies {
	width: 96%;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	gap: 80px;
	margin-bottom: 60px;
}