@font-face {
	font-family: Montserrat Alternates;
	src: url("./../../app/fonts/MontserratAlternates-Medium.woff2");
}

@font-face {
	font-family: Montserrat Alternates Bold;
	src: url("./../../app/fonts/MontserratAlternates-Bold.woff2");
}

@font-face {
	font-family: Montserrat Alternates ExtraLight;
	src: url("./../../app/fonts/MontserratAlternates-ExtraLight.woff2");
}

@font-face {
	font-family: Montserrat Alternates Light;
	src: url("./../../app/fonts/MontserratAlternates-Light.woff2");
}

@font-face {
	font-family: Montserrat Alternates Regular;
	src: url("./../../app/fonts/MontserratAlternates-Regular.woff2");
}

@font-face {
	font-family: Montserrat Alternates Thin;
	src: url("./../../app/fonts/MontserratAlternates-Thin.woff2");
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
	background-image: url("./../../../public/green_background.png");
}

.inner {
	background-color: #fff;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Montserrat Alternates Light;
	text-decoration: none;
}

.title {
	font-family: Montserrat Alternates bold;
    margin-bottom: 20px;
	text-align: center;
	max-width: 80%;
}

.line {
	margin-bottom: 7px;
	text-decoration: none;
	text-align: center;
}

.line a {
	text-decoration: none;
	font-family: Montserrat Alternates semibold;
	color: #ff8562;
}

.links {
	display: flex;
	gap: 20px;
	padding-top: 50px;
}

@media screen and (width >= 1024px) {
	.inner {
		width: 60%;
		height: 70%;
	}
	.title {
		font-size: 50px;
	}
	.line {
		font-size: 20px;
	}
}

@media screen and (width < 1024px) {
	.inner {
		width: 60%;
		height: 70%;
	}
	.title {
		font-size: 50px;
	}
	.line {
		font-size: 20px;
	}
}

@media screen and (width <= 500px) {
	.inner {
		width: 80%;
		height: 60%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 18px;
	}
}

@media screen and (width <= 375px) {
	.inner {
		width: 80%;
		height: 60%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 16px;
	}
}

@media screen and (width <= 320px) {
	.inner {
		width: 80%;
		height: 50%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 14px;
	}
}