.container {
	width: 100vw;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
	background-image: url("./../../../public/green_background.png");
}

.inner {
	background-color: #fff;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--montserrat);
	font-weight: 300;
	text-decoration: none;
}

.title {
	font-family: var(--montserrat);
	font-weight: 700;
    margin-bottom: 20px;
	text-align: center;
	max-width: 80%;
}

.line {
	margin-bottom: 7px;
	text-decoration: none;
	text-align: center;
}

.line a {
	text-decoration: none;
	font-family: var(--montserrat);
	font-weight: 600;
	color: #ff8562;
}

.links {
	display: flex;
	gap: 20px;
	padding-top: 50px;
}

@media screen and (width >= 1024px) {
	.inner {
		width: 60%;
		height: 70%;
	}
	.title {
		font-size: 50px;
	}
	.line {
		font-size: 20px;
	}
}

@media screen and (width < 1024px) {
	.inner {
		width: 60%;
		height: 70%;
	}
	.title {
		font-size: 50px;
	}
	.line {
		font-size: 20px;
	}
}

@media screen and (width <= 500px) {
	.inner {
		width: 80%;
		height: 60%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 18px;
	}
}

@media screen and (width <= 375px) {
	.inner {
		width: 80%;
		height: 60%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 16px;
	}
}

@media screen and (width <= 320px) {
	.inner {
		width: 80%;
		height: 50%;
	}
	.title {
		font-size: 32px;
	}
	.line {
		font-size: 14px;
	}
}