.container {
	width: 400px; height: 160px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

.photo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	margin-right: 20px;
	position: relative;
}

.name {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--montserrat);
	font-weight: 500;
    color: #000;
	text-transform: uppercase;
	text-decoration: none;
	width:min-content;
}

@media screen and (width >= 1024px) {
	.container {
		width: max-content; height: 160px;
	}
	.name {
		font-size: 20px;
	}
}

@media screen and (width < 1024px) {
	.container {
		width: max-content; height: 160px;
	}
	.name {
		font-size: 20px;
	}
}

@media screen and (width <= 500px) {
	.container {
		width: max-content; height: 140px;
	}
	.name {
		font-size: 16px;
	}
}

@media screen and (width <= 375px) {
	.container {
		width: max-content; height: 120px;
	}
}

@media screen and (width <= 375px) {
	.container {
		width: max-content; height: 110px;
	}
	.name {
		font-size: 14px;
	}
}