@media screen and (width > 500px) {
  .mbc-culture-title {
    animation: bounceInRight 1.5s ease-in-out;
  }
  .mbc-culture-subtitle {
    animation: bounceInRight 2s ease-in-out;
  }
  .menu-button {
    animation: fadeInUp 1s ease-in-out;
  }
  .loyalty-button {
    animation: fadeInUp 1s ease-in-out;
  }
  .location-button {
    animation: fadeInUp 1s ease-in-out;
  }
}
