.container {
  height: 100vh;
  background-size: cover;
  filter: contrast(1.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.titles {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  padding-top: 2vw;
}

.title {
  font-weight: 700;
  color: #ffffff;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.subtitle {
  font-weight: 600;
  color: #ffd014;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button1,
.button2,
.button3 {
  display: block;
  background-color: #000;
  border-radius: 50px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button1 {
  border: 4px #ffd014 solid;
}

.button2 {
  border: 4px #ffffff solid;
}

.button3 {
  border: 4px #266665 solid;
}

.button1:hover {
  border: 4px #ffd014 solid;
  background-color: #ffd014;
  color: #000;
}
.button2:hover {
  border: 4px #fff solid;
  background-color: #fff;
  color: #000;
}

.button3:hover {
  border: 4px #266665 solid;
  background-color: #266665;
  color: #000;
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url("./../../../public/welcome_background.jpg");
    background-repeat: no-repeat;
  }
  .titles {
    padding-left: 8vw;
    width: 430px;
  }
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 54px;
  }
  .buttonContainer {
    padding-left: 8vw;
    width: 80vw;
    display: flex;
    gap: 35px;
  }
  .button1,
  .button2,
  .button3 {
    width: 204px;
    padding-block: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background-image: url("./../../../public/welcome_background.jpg");
    background-repeat: no-repeat;
  }
  .titles {
    width: 45vw;
    padding-left: 10vw;
  }
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 54px;
  }
  .buttonContainer {
    width: 80vw;
    gap: 3vw;
    padding-left: 10vw;
  }
  .button1,
  .button2,
  .button3 {
    width: 204px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .titles {
    width: 50vw;
  }
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 44px;
  }
  .buttonContainer {
    width: 80vw;
    gap: 3vw;
  }
  .button1,
  .button2,
  .button3 {
    width: 144px;
    font-size: 12px;
    padding-block: 12px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100vw;
    background-image: url("./../../../public/welcome2_background.jpg");
    align-items: center;
  }
  .titles {
    width: 80vw;
    padding-left: 0;
  }
  .title {
    width: 100%;
    font-size: 38px;
  }
  .subtitle {
    font-size: 34px;
  }
  .buttonContainer {
    width: 320px;
    gap: 10px;
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .titles {
    width: 80vw;
  }
  .title {
    font-size: 38px;
  }
  .subtitle {
    font-size: 34px;
  }
}

@media screen and (max-width: 320px) {
  .titles {
    width: 90vw;
    /* padding-top: 18vw; */
  }
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 30px;
  }
  .buttonContainer {
    width: 90vw;
    gap: 3vw;
  }
  .button1,
  .button2,
  .button3 {
    width: 129px;
    font-size: 10px;
  }
}
