@font-face {
	font-family: Montserrat bold;
	src: url('./../../../app/fonts/MontserratAlternates-Bold.woff2');
}

@font-face {
	font-family: Montserrat;
	src: url('./../../../app/fonts/MontserratAlternates-Medium.woff2');
}

.container {
	height: 80vh; width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	color: #fff;
	justify-content: flex-start;
	align-items: center;
	background-image: url(./../../../../public/welcome_background.png);
	background-size: cover;
	background-position-y: bottom;
}

.inner {
	padding-top: 11%;
	display: flex;
	flex-direction: column;
	color: #fff;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.title {
	font-family: Montserrat bold;
	text-transform: uppercase;
    font-size: 65px;
    margin-bottom: 20px;
	text-align: center;
}

.subtitle {
	font-family: Montserrat;
    font-size: 28px;
    margin-bottom: 40px;
	text-align: center;
}

.button {
	width: 250px;
	height: 65px;
	border-radius: 30px;
	background-color: #EAA73E;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Montserrat;
    color: #fff;
	text-decoration: none;
	font-size: 20px;
    cursor: pointer;
	transition: all .3s ease-in-out;
}

.button:hover {
    box-shadow: #ad771f inset 10px 10px 10px;
}

.dl {
	display: flex;
	align-items: center;
	position: absolute;
	top: 90%;
	left: 0;
}

.dot {
	width: 20px;
	aspect-ratio: 1/1;
	background-color: #EAA73E;
	border-radius: 50px;
}

.line {
	width: 60vw; height: 4px;
	background-color: #EAA73E;
}