.swiper {
	width: 100%;
	padding-top: 50px;
	margin-bottom: 50px;
}
  
.swiper-slide,
.swiper-slide-visible,
.swiper-slide-fully-visible,
.swiper-slide-next {
	min-height: 500px; min-width: 300px;
}

.swiper div {
	border-radius: 50px;
}

.swiper-slide img,
.swiper-slide-visible img,
.swiper-slide-fully-visible img,
.swiper-slide-next img {
	border-radius: 50px;
	filter: grayscale(80%);
	transition: filter .4s ease-in-out;
}

.swiper-slide-active img {
    filter: grayscale(0%);
}

