.container {
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.telephone {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.sliderContainer {
	overflow: hidden;
	height: 500px; aspect-ratio: 0.6;
}

.slider {
	display: flex;
	border-radius: 50px;
}

#element {
    height: 500px; aspect-ratio: 0.6;
	position: relative;
	border-radius: 50px;
}

.photo {
	border-radius: 30px;
}

.right {
	position: absolute;
	background-image: url("./next.png");
}

#button {
	aspect-ratio: 1;
    cursor: pointer;
    font-family: Montserrat Bold;
    font-size: 20px;
	background-size: cover;
	border-radius: 50px;
	z-index: 10;
	transition: all .2s linear;
}


.left {
	position: absolute;
	background-image: url("./prev.png");
}

@media screen and (width >= 1024px){
	#button {
		height: 50px;
	}
	#button:hover {
		height: 40px;
	}
	.left {
		left: 20px;
	}
	.right {
		right: 20px;
	}
	.telephone {
		display: none;
	}
	.pc {
		display: block;
	}
}

@media screen and (width < 1024px){
	#button {
		height: 50px;
	}
	#button:hover {
		height: 40px;
	}
	.left {
		left: 20px;
	}
	.right {
		right: 20px;
	}	
	.telephone {
		display: none;
	}	
	.pc {
		display: block;
	}
}

@media screen and (width <= 425px){
	#button {
		height: 40px;
	}
	#button:hover {
		height: 30px;
	}
	.left {
		left: 5px;
	}
	.right {
		right: 5px;
	}
	.telephone {
		display: flex;
	}	
	.pc {
		display: none;
	}
}
