.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sliderContainer {
	overflow: hidden;
	height: 500px; aspect-ratio: 0.6;
}

.slider {
	display: flex;
	border-radius: 50px;
}

#element {
    height: 500px; aspect-ratio: 0.6;
	position: relative;
	border-radius: 50px;
}

.photo {
	border-radius: 30px;
}

.right {
	position: absolute;
	background-image: url("./next.png");
	right: 20px;
}

#button {
	height: 50px; aspect-ratio: 1;
    cursor: pointer;
    font-family: Montserrat Bold;
    font-size: 20px;
	background-size: cover;
	border-radius: 50px;
	z-index: 10;
	transition: all .2s linear;
}

#button:hover {
	height: 40px;
}

.left {
	position: absolute;
	background-image: url("./prev.png");
	left: 20px;
}

/* @media screen and (width >= 1024px){
	.slider {
		padding-left: 40vw;
	}
}

@media screen and (width < 1024px){
	.slider {
		padding-left: 40vw;
	}
}

@media screen and (width < 768px){
	.slider {
		padding-left: 15vw;
	}
}
@media screen and (width < 425px){
	.slider {
		padding-left: 10vw;
	}
}
@media screen and (width < 375px){
	.slider {
		padding-left: 3vw;
	}
} */